<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    <uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:description="@string/description"
        android:icon="@mipmap/ic_launcher"
        android:label="Hijri Widget"
        android:supportsRtl="true"
        tools:targetApi="31">

        <receiver
            android:name=".widget.HijriWidgetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/hijri_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.TimeChangedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".preferences.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HijriWidget"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".preferences.WidgetConfiguration"
            android:exported="false"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true"
            android:theme="@style/Theme.HijriWidget"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".preferences.Calendar_1"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_1"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_2"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_2"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_3"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_3"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_4"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_4"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_5"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_5"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_6"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_6"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_7"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_7"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_8"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_8"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_9"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_9"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_10"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_10"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_11"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_11"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_12"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_12"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_13"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_13"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_14"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_14"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_15"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_15"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_16"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_16"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_17"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_17"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_18"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_18"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_19"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_19"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_20"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_20"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_21"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_21"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_22"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_22"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_23"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_23"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_24"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_24"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_25"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_25"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_26"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_26"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_27"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_27"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_28"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_28"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_29"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_29"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".preferences.Calendar_30"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/calendar_30"
            android:targetActivity=".preferences.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".preferences.HijriWidgetLauncherIconBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>